<launch>
    <arg name="spawned_name" default="leo"/>
    <node name="turtlesim_node" pkg="turtlesim" type="turtlesim_node"/>
    <node name="turtle_teleop_key" pkg="turtlesim" type="turtle_teleop_key"/>
    <node name="turtle_spawner" pkg="turtle_commander" type="spawner.py">
    <param name="spawned_name" value="$(arg spawned_name)" type="string"/>
    </node>
    <node name="catch_up" pkg="turtle_commander" type="catch_up.py">
        <param name="spawned_name" value="$(arg spawned_name)" type="string"/>
    </node>
</launch>